# deps
/node_modules

# generated content
.contentlayer
.content-collections
.source

# test & build
/coverage
/.next/
/out/
/build
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.vercel
next-env.d.ts

/content/learn/probability/exploratory-data-analysis-confidence-intervals-with-hypoothesis-testing.mdx
/content/learn/probability/exploratory-data-analysis-exploring-your-data.mdx
/content/learn/probability/sampling-data-from-different-distribution-and-studying-the-distribution-of-sample-mean.mdx
/public/Probablity/C3_W1_Lab_2_Birthday_Problems.ipynb
/public/Probablity/Rideshare_Project_Week2.ipynb

# other 
/env.jsx
