.prose :where(h2):not(:where([class~=not-prose],[class~=not-prose] *)) {
  font-size: var(--h2-size);
  /* font-size: 50px */
}
.prose :where(h3):not(:where([class~=not-prose],[class~=not-prose] *)) {
  font-size: var(--h3-size);
}
.prose :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)), 
.prose :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: var(--p-size);
}

.fd-codeblock code,
.not-prose{
  font-size: var(--not-prose)
}

