@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .underlineEffect {
      @apply absolute left-0 bottom-[3px] h-[2px] w-full bg-gradient-to-r from-[#4C054C] to-[#25AFAA] scale-x-0 transform transition-transform duration-300 origin-left;
    }
  
    .group:hover .underlineEffect {
      @apply scale-x-100; /* Expands from left to right on hover */
    }
  
    .group:not(:hover) .underlineEffect {
      @apply scale-x-0; /* Retracts from right to left when hover ends */
      transform-origin: right; /* Changes the origin to right after hover ends */
    }
  }

  /*************  Color of links that are not heading *********/
  .prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: #008aea;
    text-decoration: none;
    font-weight: 400;
    transition: opacity .3s;
    text-underline-offset: 2px;
    text-decoration-color: hsl(var(--fd-primary) / 1);
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)):hover {
  text-decoration: underline;
  font-weight: 400;
  transition: opacity .3s;
  text-underline-offset: 2px;
  text-decoration-color: hsl(var(--fd-primary) / 1);
}


/******************* Color of heading that are links ***********/ 
.dark .prose :is(h1,h2,h3,h4,h5,h6) :where(a):not(:where([class~=not-prose] *)) {
  color: #fff;
}
.dark .prose :is(h1,h2,h3,h4,h5,h6) :where(a):not(:where([class~=not-prose] *)):hover {
  text-decoration: none;
}
.prose :is(h1,h2,h3,h4,h5,h6) :where(a):not(:where([class~=not-prose] *)) {
  color: #000;
}

.prose :is(h1,h2,h3,h4,h5,h6) :where(a):not(:where([class~=not-prose] *)):hover {
  text-decoration: none;
}


/*************** Image and video border radius ************/

img, video {
  border-radius: 10px; 
}

@layer base {
  :root {
        --radius: 0.5rem;
        --color-1: 0 100% 63%;
        --color-2: 270 100% 63%;
        --color-3: 210 100% 63%;
        --color-4: 195 100% 63%;
        --color-5: 90 100% 63%;
    }
  .dark {
        --color-1: 0 100% 63%;
        --color-2: 270 100% 63%;
        --color-3: 210 100% 63%;
        --color-4: 195 100% 63%;
        --color-5: 90 100% 63%;
    }
}

/*********************** maths code block *******************/
.katex-html {
  font-size: larger;
  overflow: auto;
  overflow-y: hidden;
}

/***************** For UL lists styling in mdx **************/
.prose :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-left: 1rem;
}

/*********** gap between lines in code block ***************/ 
.fd-codeblock code {
  row-gap: 5px;
}