/****************************** Typewriter effect *****************************/

.animated-text {
  position: relative;
  display: inline-block;
}

.cursor-blink {
  content: '|';
  display: inline-block;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


/*************************** Button 2 Component *****************************/ 

.button {
  display: inline-flex;
  position: relative;
  background-color: #111111;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
  align-items: center;
  box-shadow: #4C054C 0px 0px 5px 1px,
  #25AFAA 0px 0px 10px 1px;
  gap: 1em;
  
}

.button:hover {
  background-color: black;
}

.button:hover {
  box-shadow: #4C054C  0px 0px 20px 5px,
  #25AFAA 0px 0px 40px 5px;
}

.button:hover > div {
  transition: 0.5s cubic-bezier(.4,0,.2,1) ;
}

.button:hover > span {
  animation: letterroll cubic-bezier(.4,0,.2,1) 0.5s;
}

span {
  animation: backroll cubic-bezier(.4,0,.2,1) 0.5s;
}

@keyframes letterroll {
  50% {
    transform: translateY(-75%);
    opacity: 0;
  }
  50.1% {
    transform: translateY(75%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes backroll {
  50% {
    transform: translateY(75%);
  }
  50.1% {
    transform:translateY(-75%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

button .icon {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button .icon span {
  background: #25AFAA;
  /* border: 1px solid white; */
  border-radius: 100%;
  /* padding: 0.1rem; */
  width: 0rem;
  height: 0rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* transform: rotate(-90deg); */
  transition: all 0.5s ease;
}

button:hover .icon span {
  transform: rotate(135deg);
  /* /* border-radius: 100%; */
  padding: 0.1rem; 
  width: 2rem;
  height: 2rem;
}


/************************* Background Image Animation *********************/

.bg-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.bg-image.active {
  opacity: 1;
}





